@import "null.css";
@import "fonts.css";

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    color: #1e212c;
    width: 1233px;
}

/* main > * {
    outline: 1px solid #000;
} */
.wrapper {
    padding: 132px 82px 106px 341px;
}
.title {
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    align-items: center;
    margin: 0 0 40px 0;
}

.image {
    margin: 0 0 36px 0;
    display: inline-block;
}

p {
    padding: 0 0 24px 0;
}

.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.main-one {
    padding: 0 0 32px 0;
}

.main-two {
    padding: 0 0 24px 0;
}

/* Блок с кавычками */

.quotes {
    margin: 0 0 48px 0;
    padding: 24px 0 0px 0;
}

.image__quotes_2 {
    padding-right: 20px;
}

.main-three {
    max-width: 90%;
}

.text__bold {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    display: inline-block;
}

/* Пункты */

.list > * {
    /* border: #1e212c solid 1px; */
}

.list {
    /* margin: 0 0 0 32px; */
    padding: 0 0 24px 0;
}

.item-list {
    margin: 0 0 10px 0;
    padding: 0 0 0px 25px;
    background: url(../img/check.png) 0 0 no-repeat;
}
